@model IEnumerable<ResumeMvc.Models.Education>

    <section id="education">
        <h2 class="underlined">Education and Training</h2>
        <div class="item">
            <section id="Develomentor">
                <div class="study_name">
                    <h3>
                        Develomentor
                        <div class="study_date">
                            <span class="endDate">
                                July 2010
                            </span>
                        </div>
                    </h3>
                </div>
            </section>

            <div class="study_area">
                Training:  Exploring .NET 4.0
            </div>

            <p>
                <strong> Topics: </strong>
                LINQ, WPF, WCF, Threading, Concurrency, Parallel Programming, Silverlight
            </p>


        </div>
        <div class="item">
            <section id="Northeastern University">
                <div class="study_name">
                    <h3>
                        Northeastern University
                        <div class="study_date">
                            <span class="startDate">
                                September 2001 -
                            </span>
                            <span class="endDate">
                                May 2006
                            </span>
                        </div>
                    </h3>
                </div>
            </section>

            <div class="study_area">
                Bachelor of Science in Computer Science, Minor in Mathematics
            </div>

            <p>
                <strong> Courses: </strong>
                Cryptography, Compilers, Programming Languages, Computer Organization and Design, Topics in OS, Software Design, Computer Networking, Macroeconomics, Calculus, Differential Equations in Linear Algebra, Number Theory
            </p>

        </div>
    </section>
