@{
    ViewBag.Title = "Home Page";
}

<div id="header">
    <div id="header-content">
        <div class="photo">
            <img class="avatar" src="https://raw.githubusercontent.com/jquintus/resume/master/assets/avatar.jpg" alt="avatar" style="width:150px;height:150px" />
        </div>
        <div class="header-title">
            <h1 id="header-title">Josh Quintus</h1>
            <h2 id="header-subtitle">Senior Software Engineer</h2>
        </div>
    </div>
</div>

<div id="content" class="container">
    <section id="basics">
        <div class="contact">
            <h2 class="underlined">Summary</h2>
            <div class="email">
                <strong>Email:</strong>
                josh.quintus@gmail.com
            </div>
            <div class="phone">
                <strong>Phone:</strong>
                (617) 688-7886
            </div>
        </div>
        <div class="summary">
            <h3>About</h3>
            <p>Josh is a software engineer with 8 years of experience delivering progressively challenging data-driven projects with various Microsoft technologies</p>
        </div>
        <section id="profiles">
            <div class="item">
                <strong class="network">
                    Blog
                </strong>
                <div class="url">
                    <a href="http://blog.MasterDevs.com">
                        blog.MasterDevs.com
                    </a>
                </div>
            </div>
            <div class="item">
                <strong class="network">
                    GitHub
                </strong>
                <div class="url">
                    <a href="https://github.com/jquintus">
                        jquintus
                    </a>
                </div>
            </div>
            <div class="item">
                <strong class="network">
                    StackOverflow
                </strong>
                <div class="url">
                    <a href="http://stackoverflow.com/users/1480854/josh">
                        Josh
                    </a>
                </div>
            </div>
            <div class="item">
                <strong class="network">
                    Twitter
                </strong>
                <div class="url">
                    <a href="https://twitter.com/jquintus">
                        jquintus
                    </a>
                </div>
            </div>
        </section>
    </section>

    <section id="work">
        <h2 class="underlined">Work</h2>
        <div class="item">
            <section id="Yarly, Co.">
                <h3 class="work_name">
                    Yarly, Co.
                    <div class="work_date">
                        <span class="startDate">
                            June 2013 -
                        </span>
                        <span class="endDate">
                            Present
                        </span>
                    </div>
                </h3>
            </section>

            <div class="work_website">
                <a href="http://yarly.co">http://yarly.co</a>
            </div>

            <div class="work_position">
                Founding Developer
            </div>

            <div class="summary">
                <p>As one of three developers, I have a hand in every technical decision made for this young startup</p>
            </div>

            <ul class="highlights">
                <li>Created and maintain Yarly's 5 star <a href='https://play.google.com/store/apps/details?id=co.yarly.droid'>Android app </a> in C# sharing 80% of code with iOS and WinPhone versions</li>
                <li>Set up all DevOps aspects of the technology stack including Git repository on TFS, CI builds, Azure hosting, continuous and scheduled jobs, and reporting</li>
                <li>Led the effort to migrate all our data from MongoDB to Sql Azure</li>
            </ul>
        </div>
        <div class="item">
            <section id="Goldman Sachs">
                <h3 class="work_name">
                    Goldman Sachs
                    <div class="work_date">
                        <span class="startDate">
                            May 2011 -
                        </span>
                        <span class="endDate">
                            January 2014
                        </span>
                    </div>
                </h3>
            </section>

            <div class="work_website">
                <a href="http://assetmanagement.gs.com">http://assetmanagement.gs.com</a>
            </div>

            <div class="work_position">
                Software Engineer for GSAM
            </div>

            <div class="summary">
                <p> </p>
            </div>

            <ul class="highlights">
                <li>As a leader in coding practices my advice was sought out formally and informally at all stages of development, from early design to code review. </li>
                <li>I became a touch point for the entire software development lifecycle.</li>
                <li>Headed task forces to deep dive into impactful production bugs and produced temporary workarounds while investigating elusive root cause</li>
                <li>Brought in to rescue floundering projects</li>
                <li>Worked across teams to facilitate dialog and gather thoughts about what the future of the system means to different businesses so that we can clearly shape the architecture moving forward</li>
                <li>Worked with multiple satellite tech teams to create a common trading system for business specific use cases and workflows</li>
            </ul>
        </div>
        <div class="item">
            <section id="FactSet Research Systems Inc.">
                <h3 class="work_name">
                    FactSet Research Systems Inc.
                    <div class="work_date">
                        <span class="startDate">
                            July 2008 -
                        </span>
                        <span class="endDate">
                            June 2011
                        </span>
                    </div>
                </h3>
            </section>

            <div class="work_website">
                <a href="http://factset.com">http://factset.com</a>
            </div>

            <div class="work_position">
                Senior Software Engineer
            </div>

            <div class="summary">
                <p> </p>
            </div>

            <ul class="highlights">
                <li>Developed Scheduler program, integrating GNU linear algebra libraries to create an optimized schedule for various tasks</li>
                <li>Lead software engineering efforts for a multi-tiered solution to record upcoming earnings calls utilizing WPF for the presentation layer, SQL Server for the data layer, and WCF hosted in a Windows Service</li>
                <li>Maintained and supported existing infrastructure, ensuring that stakeholders would always be able to produce a professional product in a timely manner</li>
                <li>Instituted a weekly code review which helped improve the quality of the code base as well as promote an atmosphere of sharing new and interesting coding practices</li>
                <li>Streamlined data-verification process, removing thousands of false negatives so that our operations team could concentrate on the handful of actual problems</li>
                <li>Gathered and interpreted requirements from stakeholders</li>
                <li>Supported CallStreet's near-real time data feed by designing and implementing enhancements, fixing bugs, and responding to and helping clients when issues arise</li>
            </ul>
        </div>
        <div class="item">
            <section id="Enterprise Air">
                <h3 class="work_name">
                    Enterprise Air
                    <div class="work_date">
                        <span class="startDate">
                            July 2006 -
                        </span>
                        <span class="endDate">
                            July 2008
                        </span>
                    </div>
                </h3>
            </section>


            <div class="work_position">
                Senior Software Engineer
            </div>

            <div class="summary">
                <p> </p>
            </div>

            <ul class="highlights">
                <li>Managed, designed, and developed an application to configure, test, and determine the overall health of a distributed system in real time</li>
                <li>Maintained and added features to command and control software communicating with multiple end points through WMI and Microsoft Message Queues</li>
                <li>Designed and implemented a distributed software package which routes user data to subscribed ID management and physical access control systems</li>
                <li>Communicated with the QA/Tech Support team to turn client requirements into solid feature requests for various projects and to help understand clients' needs</li>
                <li>Supervised in creation of multiple levels of documentation across projects, including user guides, developer documentation, and architecture overviews</li>
                <li>Created intuitive UI layouts with a focus on ease of deployment and maintenance by clients</li>
            </ul>
        </div>
        <div class="item">
            <section id="Enpocket, Inc.">
                <h3 class="work_name">
                    Enpocket, Inc.
                    <div class="work_date">
                        <span class="startDate">
                            May 2005 -
                        </span>
                        <span class="endDate">
                            May 2006
                        </span>
                    </div>
                </h3>
            </section>


            <div class="work_position">
                Field Engineer / Assistant IT Support Specialist
            </div>

            <div class="summary">
                <p> </p>
            </div>

            <ul class="highlights">
                <li>Created and deployed mobile web services</li>
                <li>Administrated systems and networks in a mostly Fedora Core 3 production environment</li>
                <li>Installed and maintained an in-office VoIP Asterisk PBX</li>
                <li>Laid down telephone and CATV office cabling</li>
            </ul>
        </div>
    </section>

    <section id="projects">
        <h2 class="underlined">Projects</h2>
        <div class="item">
            <section id="VsOpenIn">
                <h3 class="company">
                    VsOpenIn
                    <div class="work_date">
                        <span class="endDate">
                            February 2015
                        </span>
                    </div>
                </h3>
            </section>

            <div class="work_website">
                <a href="https://github.com/jquintus/VsOpenIn/">https://github.com/jquintus/VsOpenIn/</a>
            </div>

            <div class="work_position">
                Visual Studio extension to open the current document in an external editor
            </div>


            <ul class="highlights">
                <li>Released to the Visual Studio Extension Gallery</li>
                <li>Open with Vim by default, but can be configured to use any editor</li>
            </ul>
        </div>
        <div class="item">
            <section id="Xamarin Forms Shopping Cart">
                <h3 class="company">
                    Xamarin Forms Shopping Cart
                    <div class="work_date">
                        <span class="endDate">
                            October 2014
                        </span>
                    </div>
                </h3>
            </section>

            <div class="work_website">
                <a href="https://github.com/jquintus/ShoppingCartXF">https://github.com/jquintus/ShoppingCartXF</a>
            </div>

            <div class="work_position">
                Sample code and detailed articles detailing pitfalls of Xamarin Forms
            </div>


            <ul class="highlights">
                <li>Featured in the <a href='http://XamarinWeekly.com'>Xamarin Weekly Newsletter</a></li>
                <li>Provids insight and best practices for an emerging technology</li>
                <li>Discusses options for consistently styling cross-platform applications</li>
                <li>Highlights bugs and the necessary workarounds when using Xamarin Forms</li>
            </ul>
        </div>
        <div class="item">
            <section id="Message Master">
                <h3 class="company">
                    Message Master
                    <div class="work_date">
                        <span class="endDate">
                            December 2009
                        </span>
                    </div>
                </h3>
            </section>

            <div class="work_website">
                <a href="http://messagemaster.codeplex.com/">http://messagemaster.codeplex.com/</a>
            </div>



            <ul class="highlights">
                <li>Created an Android application to send canned text messages</li>
                <li>Released to the Android Marketplace</li>
            </ul>
        </div>
        <div class="item">
            <section id="Wall Master">
                <h3 class="company">
                    Wall Master
                    <div class="work_date">
                        <span class="endDate">
                            August 2008
                        </span>
                    </div>
                </h3>
            </section>

            <div class="work_website">
                <a href="http://wallmaster.codeplex.com/">http://wallmaster.codeplex.com/</a>
            </div>

            <div class="work_position">
                Manages and sets desktop wallpapers
            </div>


            <ul class="highlights">
                <li>Wrote a WPF tray application to independently set wallpapers when using multiple monitors</li>
                <li>Accesses the Windows API with P/Invoke</li>
                <li>Resizes and repositions image dynamically when resolution changes</li>
            </ul>
        </div>
    </section>

    <section id="education">
        <h2 class="underlined">Education and Training</h2>
        <div class="item">
            <section id="Develomentor">
                <div class="study_name">
                    <h3>
                        Develomentor
                        <div class="study_date">
                            <span class="endDate">
                                July 2010
                            </span>
                        </div>
                    </h3>
                </div>
            </section>

            <div class="study_area">
                Training:  Exploring .NET 4.0
            </div>

            <p>
                <strong> Topics: </strong>
                LINQ, WPF, WCF, Threading, Concurrency, Parallel Programming, Silverlight
            </p>


        </div>
        <div class="item">
            <section id="Northeastern University">
                <div class="study_name">
                    <h3>
                        Northeastern University
                        <div class="study_date">
                            <span class="startDate">
                                September 2001 -
                            </span>
                            <span class="endDate">
                                May 2006
                            </span>
                        </div>
                    </h3>
                </div>
            </section>

            <div class="study_area">
                Bachelor of Science in Computer Science, Minor in Mathematics
            </div>

            <p>
                <strong> Courses: </strong>
                Cryptography, Compilers, Programming Languages, Computer Organization and Design, Topics in OS, Software Design, Computer Networking, Macroeconomics, Calculus, Differential Equations in Linear Algebra, Number Theory
            </p>

        </div>
    </section>

    <section id="skills">
        <h2 class="underlined">Skills</h2>
        <div class="skill">
            <div class="name">
                <strong> Core Competencies </strong>
            </div>
            <ul class="keywords">
                <li>.NET/Visual Studio</li>
                <li>Xamarin Android</li>
                <li>Windows Azure</li>
                <li>Windows Services</li>
                <li>Debugging</li>
                <li>Software Design</li>
            </ul>
        </div>
        <div class="skill">
            <div class="name">
                <strong> Android Development </strong>
            </div>
            <ul class="keywords">
                <li>Xamarin</li>
                <li>MvvmCross</li>
                <li>Xamarin Forms</li>
            </ul>
        </div>
        <div class="skill">
            <div class="name">
                <strong> Languages </strong>
            </div>
            <ul class="keywords">
                <li>C#</li>
                <li>SQL</li>
                <li>JSON</li>
                <li>XML</li>
                <li>XSLT</li>
                <li>Perl</li>
            </ul>
        </div>
        <div class="skill">
            <div class="name">
                <strong> Development Tools </strong>
            </div>
            <ul class="keywords">
                <li>Visual Studio 2003 - 2013</li>
                <li>SQL Management Studio 2008</li>
                <li>Moq</li>
                <li>Ninject</li>
                <li>NUnit</li>
                <li>Perforce</li>
                <li>Git</li>
                <li>Vim</li>
            </ul>
        </div>
        <div class="skill">
            <div class="name">
                <strong> Technologies </strong>
            </div>
            <ul class="keywords">
                <li>.NET 4.0</li>
                <li>Web Services (WCF)</li>
                <li>WPF</li>
                <li>Windows Services</li>
                <li>Regular Expressions</li>
                <li>MS Message Queues</li>
                <li>WMI</li>
            </ul>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script>
    var highestBox = 0;
    $('.skill').each(function(){

    if($(this).height() > highestBox)
      highestBox = $(this).height();
    })

    $('.skill').each(function(){
      $(this).height(highestBox);
    })
    </script>




</div>
